


div, header
{

	width: 300px;
	height: 100px;
	border: 1px solid black;
	


	padding: 50px;


	margin: 20px;
	background-color: yellow;



	background-image: url("lemon.jpg");


	background-repeat: no-repeat;
	background-position: center;

	border: 10px red;
	border-style: dashed;





}


h1 
{
	color: red;
	text-align: center;
	padding: 20px;
}


.select 
{
	background-color: #FFC0CB;	
	border: 10px solid red;
}

p 
{
	color: green;
	border: 2px solid red; 
}

#main
{
	background-color: #ADD8E6;
}

body
{
	width: 60%;
	margin-left: 20%;	
}

footer
{
	text-align: center;
	background-color:#0000FF
}


